.product-detail{
    width: 370px;
    height: auto;
    top: 38px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.39);
}

@media (max-width: 767px) {
    .product-detail{
        display: flex;
        align-items: center;
        justify-content: center;
        top: 100px;
        width: 80%;
        height: auto;
    }
    .img-contain{
        width: 150px;
        height: 150px;
    }
    .div-contain-img{
        margin-bottom: 0;
    }
    .div-detail{
        margin-bottom: 0;
    }
}