.product-detail{
    width: 95%;
    height: 95%;
    top: 20px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.39);
}

.img-contain{
    width: 600px
}

.ul-list{
    padding-left: 2rem;
    background-image: url('/public/products/circulo.png');
    background-position: 0 0;
    margin: 15px;
    background-size: 1.1rem 1.1rem;
    background-repeat: no-repeat;
}

@media (max-width: 767px) {
    .product-detail{
        flex-wrap: wrap-reverse;
        height: 80%;
    }
    .div-contain-img{
        width: 90%;
        height: auto;
    }
    .ul-list{
        margin: 0px;
    }

}