.div-modal{
    width: 490px;
    height: 71%;
}

@media (max-width: 767px) {
    .div-modal {
        margin: 10px;
        margin-right: 16px;
    }
    .div-t-p{
        font-size: 14px;
        text-align: center;
    }
}