.div-first{
    background-image: url('/img-background/fondo-tablet(2).jpg');
    background-size: cover;
    background-position: center;
    width: 98%;
    height: 60%;
}

.h1-olex{
    font-size: 80px;
    font-weight: bolder;
}
.div-container-variable{
    width: 500px;
}

.div-first-img {
    width: 450px;
}

.div-olax-happy{
    width: 95%;
    height: 100%;
    background-image: url('/public/img-background/diversos-empresarios-reunidos.jpg');
    background-size: cover;
}


@media (max-width: 767px) {
    .h1-olex{
        font-size: 40px;
        margin: auto;
        margin-bottom: 10px;
    }
    .h2-kids{
        font-size: 40px;
    }
    .div-button{
        width: max-content;
    }
    .div-first-img{
        margin: 0;
        width: 70%;
        height: 70%;
    }

    .div-h1-ex h1{
        font-size: 36px;
        margin-left: 6px;
    }
    .div-two div{
        text-align: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .figure-container-icon{
        margin-top: 15px;
    }

    .div-text-h2 h2{
        text-align: center;
        font-size: 40px;
    }

    .div-text-p p{
        text-align: center;
        width: 80%;
    }

    .div-image-person{
        display: none;
    }

}